@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import './typography.css';
@import './forms.css';
@import './tabs.css';
@import './accordion.css';
@import '../node_modules/swiper/swiper-bundle.min.css';

html, body:not(.single-projects) {
	@apply overflow-x-hidden;
}

.container {
	@apply max-w-[1366px] 2xl:max-w-[1600px] w-full mx-auto px-6 md:px-10;
}

/* REMOVED FOR LIGHTHOUSE LCP RECOGNITION */
/* 
main {
	animation: fade-in 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.3s both;
} */

.hide {
	@apply opacity-0 -translate-x-20;
}

.home-banner h1 {
	animation: fade-in 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.6s both;
}

.home-banner h2 {
	animation: fade-in 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1.2s both;
}

[data-menu] {
	@apply translate-x-full;
}

.menuIsOpen [data-menu] {
	@apply translate-x-0 opacity-100;
}

.menuIsOpen .hamburger {
	@apply opacity-0;
}

.menuIsOpen .cross {
	@apply opacity-100;
}

.menuIsOpen .menu-item {
	animation: fade-in-right 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.4s both;
}

.menuIsOpen .menu-socials {
	animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.7s both;
}


.project-gallery {
	@apply grid grid-cols-2 gap-4 w-full;
}

.project-gallery .project-image:first-child{
	@apply col-span-2;
}

.project-gallery .project-image:nth-child(3n+1){
	@apply col-span-2;
}

.footer-links a {
	@apply w-fit relative after:duration-500 after:absolute after:left-0 after:bottom-[-2px] after:w-0 after:h-[1px] after:bg-brand;
}

.footer-links a:hover {
	@apply after:w-full;
}

.hover-zoom img {
	@apply duration-1000 ease-in-out;
}

.hover-zoom:hover img {
	@apply scale-110;
}

@keyframes fade-in {
	0% {
	  opacity: 0;
	}
	100% {
	  opacity: 1;
	}
}

@keyframes fade-in-right {
	0% {
	  -webkit-transform: translateX(50px);
			  transform: translateX(50px);
	  opacity: 0;
	}
	100% {
	  -webkit-transform: translateX(0);
			  transform: translateX(0);
	  opacity: 1;
	}
}

@keyframes fade-in-bottom {
	0% {
	  -webkit-transform: translateY(50px);
			  transform: translateY(50px);
	  opacity: 0;
	}
	100% {
	  -webkit-transform: translateY(0);
			  transform: translateY(0);
	  opacity: 1;
	}
}
  