<section class="py-24 lg:py-36 2xl:py-48 flex justify-center">
    <div class="relative w-screen flex flex-col items-center gap-6 md:gap-10 text-center">
        <h4 class="line-right capitalize is-h3 2xl:is-h4 text-brand max-w-3xl 2xl:max-w-6xl px-6">{{ block.heading }}</h4>
    </div>
</section>